body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.block {
    padding: 0 200px 125px;
}

.block1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: white;
}

.block1-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-block {
    flex: 1;
}

.placeholder {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block2-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.card-placeholder {
    height: 150px;
    width: 150px;
    border-width: 3px;
    border-color: #2f71ff;
    border-radius: 5px;
    border-style: solid;
}

.block3 {
    background-color: gray;
    padding: 125px 200px;
}

.block4 {
    margin: 100px 150px;
    background-color: #2f71ff;
    display: flex;
    justify-content: space-between;
    padding: 32px 48px;
    border-radius: 8px;
    color: white;
}

.block5 {
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 200px;
    color: white;
}

#quote {
    font-size: 32px;
}

#whom {
    text-align: right;
    font-size: 24px;
    font-style: bold;
}

.block1 h1 {
    font-size: 24px;
}

.block1 h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.block2 h2 {
    font-size: 32px;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.block4 button {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

button {
    background-color: #2f71ff;
    color: white;
    border: none;
    text-decoration: none;
    padding: 8px 24px;
    margin: 8px 0px;
    border-radius: 5px;
    height: 32px;
    width: 125px;
}

ul {
    display: flex;
}

li {
    margin: 10px;
    list-style: none;
}